#{extends 'main.html' /} 
 #{set title:'adminReport' /} 
 
<!-- new nav bar for administrator -->
<body>     
   <nav class="ui inverted blue  menu">
    <a class="ui item" href="/administrator/adminReport">Administrator Home</a>
    <a class="ui item" href="/register">Register Candidate</a> 
	<a class="ui active item" href="/office">Create Office</a> 
    <a class="ui item" href="/administrator/logout">Administrator Logout</a>
  </nav>

<!-- form to create new office  -->

<section class="ui segment">
  <form action="/registerOffice" method="POST">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
        <h3 class="ui header">Create New Office</h3>
          <div class="two fields">
      <div class="field">
              <input placeholder="Office Title" id="title" name="officeTitle" type="text">
            </div>
            <div class="field">
              <input placeholder="Office description" name="officeDescription" type="text">
            </div>
          </div>              
          <button type="submit" class="ui blue submit button">Submit</button>
        </div>
      </div>
    </div>
  </form>
</section>
</body>
