#{extends 'main.html' /} 
#{set title:'Make Donation' /} 
#{set activePage:'donation' /} 
#{include 'nav.html' /}

<!-- Donation form  -->

<section class="ui segment">
	<h3>Welcome ${user.firstName}</h3>
	<h4>Please give generously:</h4>

	<div class="ui grid">
		<div class="six wide column">
			<form class="ui form" action="/donation/donate" method="POST">
				<table class="ui table">
					<tbody>

						<tr>
							<td>
								<div class="grouped inline fields">
									<div class="field">
										<div class="ui radio checkbox">
											<input id="paypal" name="methodDonated" value="paypal"
												checked="checked" type="radio"> <label for="paypal">PayPal</label>
										</div>
									</div>
									<div class="field">
										<div class="ui radio checkbox">
											<input id="direct" name="methodDonated" value="direct"
												type="radio"> <label for="direct">Direct</label>
										</div>
									</div>
								</div>
							</td>
						</tr>

				<!-- Donation amount  -->
						
						<tr>
							<td>
								<div class="column">
									<div class="ui selection dropdown">
										<input name="amountDonated" type="hidden">
										<div class="default text">Amount</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											<div class="item" data-value="100">$100</div>
											<div class="item" data-value="500">$500</div>
											<div class="item" data-value="1000">$1000</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

				<!-- drop down menu to select candidate for donation  -->
						
						<tr>
							<td>
								<div class="column">
									<div class="ui selection dropdown">
										<input name="candidateId" type="hidden">
										<div class="default text">Select Candidate</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											#{list items:candidates, as :'candidate'}
											<div class="item" data-value="${candidate.id}">${candidate.firstName}
												${candidate.lastName}</div>
											#{/list}
										</div>
									</div>
								</div>
							</td>
						</tr>

					<!-- submit button  -->
						<tr>
							<td>
								<div class="ui blue submit button">
									Donate <i class="add icon"></i>
								</div>
								<div class="ui error message"></div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	
	
 <!-- Progress bars  -->
	<br>
    <hr>
	<h4>Amount of Target Achieved for candidates:</h4>
	#{list items:candidates, as:'candidate'}
	<h5> ${candidate.firstName} ${candidate.lastName} : ${candidate.progress}%</h5>
		<div class="ui active green small progress"  >
  			<div class="bar" style="width:${candidate.progress}%"></div>
		</div>
	#{/list}
	<script src="@{'/public/javascripts/donation.js'}"></script>
</section>