#{extends 'main.html' /} 
#{set title:'Welcome' /} 
#{set activePage:'welcome' /} 
#{include 'nav.html' /}

<!-- home page  -->
<h1>Welcome</h1>
<table>
	<tr>
		<td>
			<p>
				<i> Homer for president. </i>
			</p>
			<p>
				<i> Time for a change </i>
			<p>Out with Boring Abamo.</p>
			<p>Giving has never been so easy.</p>
			<p>
				Just click here to  <a href="/login">log in </a> or <a href="/signup">sign up </a> 
			</p>
			<p>Then go to the Donation page and empty your wallet</p>
		</td>
		<td><img src="/public/images/homer.gif"></td>
	</tr>
</table>