#{extends 'main.html' /} 
#{set title:'admin' /} 
#{set activePage:'admin' /} 
#{include 'nav.html'/}

<!-- form to log in for administrator -->

<section class="ui form segment">
	<form action="/adminlogin" method="POST">
		<h2>Log into as administrator </h2>
		<h3>Restricted access</h3>
		<div class="control-group">
			<div class="controls">
				<label class="control-label"><i class="mail icon"></i>
					Admin: </label> <input type="text" name="email"> <label
					class="control-label"><i class="lock icon"></i> Password: </label>
				<input type="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
</section>