#{extends 'main.html' /} 
#{set title:'adminReport' /} 

<!-- new nav bar for administrator  -->
      
   <nav class="ui inverted blue  menu">
    <a class="ui active item" href="/administrator/adminReport">Administrator Home</a>
    <a class="ui item" href="/register">Register Candidate</a> 
	<a class="ui item" href="/office">Create Office</a> 
    <a class="ui item" href="/administrator/logout">Administrator Logout</a>
  </nav>
  

<!-- report list for administrator with users and candidates details  -->
<section class="ui segment"> 
<h4>Donors</h4>
	<table class="ui table segment">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>State</th>
	      <th>Email</th> 
	  </thead>
	  <tbody>
	  	#{list items:users, as:'user'}
	  	    <tr>
	      <td>${user.firstName}  ${user.lastName}</td>
	      <td>${user.state}</td>
	      <td>${user.email}</td>
	    </tr>
	   	 #{/list}
	   	  </tbody>
	</table>
	
	
	<h4>Candidates</h4>
	<table class="ui table segment">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Office</th> 
	  </thead>
	  <tbody>
	  	#{list items:candidates, as:'candidate'}
	  	    <tr>
	      <td>${candidate.firstName}  ${candidate.lastName}</td>
	      <td>${candidate.email}</td>
	      <td>${candidate.office.officeTitle}</td>
	    </tr>
	   	 #{/list}
	   	  </tbody>
	</table>	
		
</section>

<script src="@{'/public/javascripts/report.js'}"></script>