#{extends 'main.html' /}
#{set title:'adminRegister' /}


<!-- new nab bar for administrator  -->

<nav class="ui inverted blue  menu">
	<a class="ui item" href="/administrator/adminReport">Administrator
		Home</a> <a class="ui active item" href="/register">Register Candidate</a>
	<a class="ui item" href="/office">Create Office</a> <a class="ui item"
		href="/administrator/logout">Administrator Logout</a>
</nav>

<!-- form to register new candidate with name, email and office  -->

<section class="ui form segment">
	<form class="ui form" action="/registerCandidate" method="POST">


		<h4 class="ui dividing header">Register Candidate</h4>
		<div class="field">
			<label>Name</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="firstName" placeholder="First Name">
				</div>
				<div class="field">
					<input type="text" name="lastName" placeholder="Last Name">
				</div>				
			</div>
		</div>
			<div class="two fields">
				<div class="field">
					<input type="text" name="email" placeholder="email">
				</div>
				<div class="field">			
          			 <input type="text" name="target" placeholder="amount of donation target">
        		   </div>
       			 </div>

		<!-- list of offices -->
		<div class="column">
			<div class="ui selection dropdown">
				<input name="office" type="hidden">
				<div class="default text">Select Office</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					#{list items:offices, as :'office'}
					<div class="item" data-value="${office.id}">${office.officeTitle}</div>
					#{/list}
				</div>
			</div>
		</div>

		
		
		<div class="ui blue submit button">
			Submit <i class="add icon"></i>
		</div>

		<div class="ui error message"></div>
	</form>
</section>

<script src="@{'/public/javascripts/signup.js'}"></script>
