#{extends 'main.html' /} 
#{set title:'Report' /} 
#{set activePage:'report' /} 
#{include 'nav.html' /}

<section class="ui segment">
	<div class="ui raised segment">
		<h4>List Donations</h4>
			<section class="ui segment">	
				<div class="ui grid">
			
	<!-- Filter donation list by candidates  -->
				<div class="four wide column">
					<form class="ui form" action=" /report/filterCandidates" method="POST">
						<div class="column">
							<div class="ui selection dropdown">
								<input name="candidate" type="hidden">
								<div class="default text">BY Candidate</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									#{list items:candidates, as :'candidate'}
									<div class="item" data-value="${candidate.id}">${candidate.firstName}
										${candidate.lastName}</div>
									#{/list}
								</div>
							</div>
						</div>
						<div class="ui blue submit button">
							Filter by Candidate<i class="add icon"></i>
						</div>
					</form>
				</div>

				
	<!-- Filter donation list by user(donor) -->
			<div class="four wide column">	
				<form class="ui form" action=" /report/filterDonors" method="POST">
						<div class="column">
							<div class="ui selection dropdown">
								<input name="donor" type="hidden">
								<div class="default text">BY Donor</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									#{list items:users, as :'user'}
									<div class="item" data-value="${user.id}">${user.firstName}
										${user.lastName}</div>
									#{/list}

								</div>
							 </div>
						 </div>
						<div class="ui blue submit button">
							Filter by Donor<i class="add icon"></i>
					</div>
				</form>
			</div>
	
				
	<!-- Filter donation list by state  -->
				<div class="four wide column">
					<form class="ui form" action=" /report/filterStates" method="POST">
						<div class="column">
							<div class="ui selection dropdown">
								<input name="state1" type="hidden">
								<div class="default text">BY State</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									#{list items:states, as :'state'}
									<div class="item" data-value="${state}">${state}</div>
									#{/list}
								</div>
							</div>
						</div>
						<div class="ui blue submit button">
							Filter by State<i class="add icon"></i>
						</div>
					</form>
				</div>
				
		<!-- List all donations  -->
				<div class="four wide column">
					<form class="ui form" action=" /report" method="GET">					
						<div class="ui blue submit button">All Donations<i class="add icon"></i>
						</div>
					</form>
				</div>										
			</div>
		</section>
	</div>

<!--Report of donations  -->
	<table class="ui table segment">
		<thead>
			<tr>
				<th>Donors</th>
				<th>Age</th>
				<th>State</th>
				<th>Amount($)</th>
				<th>Method donated</th>
				<th>Candidates</th>
			</tr>
		</thead>
		<tbody>
			#{list items:donations, as:'donation'}
			<tr>
				<td>${donation.from.firstName}  ${donation.from.lastName}</td>
				<td>${donation.from.age}</td>
				<td>${donation.from.state}</td>
				<td>${donation.received}</td>
				<td>${donation.methodDonated}</td>
				<td>${donation.to.firstName} ${donation.to.lastName}</td>
			</tr>
			#{/list}
		</tbody>
	</table>


</section>

<script src="@{'/public/javascripts/report.js'}"></script>