#{extends 'main.html' /}
#{set title:'Donation' /}

<!-- navigation bar for welcome, sigup, login, donate, report, edit profile, logout as a user, administrator log in pages -->
 #{if user == null}
	<nav class="ui inverted blue menu"> 
	     #{if activePage=='welcome'} 
	      	<a class="ui active item " href="/">Welcome</a>
	     #{/if} #{else}
	   		 <a class="item " href="/">Welcome</a> 
	     #{/else}
	     
	     #{if activePage=='signup'} 
	    	<a class="ui item active" href="/signup">Sign Up</a>
	 	 #{/if} #{else}
	   		<a class="item" href="/signup">Sign Up</a>
	 	 #{/else}
	 	 
	 	 #{if activePage=='login'} 
	  	    <a class="ui active item" href="/login">Log in </a>
		 #{/if} #{else}
	   		<a class="item" href="/login">Log in</a>
		 #{/else}
		 
		 #{if activePage=='admin'} 
	  	    <a class="ui active item" href="/admin">Administrator</a>
		 #{/if} #{else}
	   		<a class="item" href="/admin">Administrator</a>
		 #{/else}
	   </nav>
  #{/if} #{else}
 	 <nav class="ui inverted blue menu">	  
		  #{if activePage=='donation'} 
		    <a class="ui active item" href="/donation"> Make Donation </a>
		  #{/if} #{else}
		    <a class="item" href="/donation"> Make Donation</a>
		  #{/else}
		  #{if activePage=='report'} 
		    <a class="ui item active" href="/report">Report</a>
		  #{/if} #{else}
		    <a class="ui item" href="/report">Report</a>
		  #{/else}
		   #{if activePage=='edit'} 
		    <a class="ui item active" href="/edit">Edit Profile</a>
		  #{/if} #{else}
		    <a class="ui item" href="/edit">Edit Profile</a>
		  #{/else}
		  #{if activePage=='logout'} 
		    <a class="ui active item" href="/logout"> Log out </a>
		  #{/if} #{else}
		    <a class="item" href="/logout"> Log out</a>
		  #{/else}
		  
	</nav>
  
   #{/else}
  