#{extends 'main.html' /}
#{set title:'Edit' /} 
#{set activePage:'edit'/} 
#{include 'nav.html' /}


<!-- form to change user details  -->

<section class="ui form segment">
	<form action="/editprofile" method="POST">
		<h3>${user.firstName}</h3>
		<h4 class="ui dividing header">You may edit your profile here</h4>
		<div class="field">
			<label>Name</label>
			<div class="three fields">
				<div class="field">
					<input type="text" name="firstName"
						placeholder=" ${user.firstName}">
				</div>
				<div class="field">
					<input type="text" name="lastName" placeholder=" ${user.lastName}">
				</div>
				<div class="field">
					<input type="text" name="age" placeholder="${user.age}">
				</div>
			</div>
		</div>

		<div class="field">
			<label>Address</label>
			<div class=" two fields">
				<div class=" field">
					<input type="text" name="address1" placeholder=" ${user.address1}">
				</div>
				<div class=" field">
					<input type="text" name="address2" placeholder="${user.address2}">
				</div>
			</div>
			<div class=" three fields">
				<div class=" field">
					<input type="text" name="city" placeholder="${user.city}">
				</div>
				<div class=" field">
					<input type="text" name="state" placeholder="${user.state}">
				</div>
				<div class="field">
					<input type="text" name="zipCode" placeholder="${user.zipCode}">
				</div>

			</div>
			<button type="submit" class="btn btn-primary">submit</button>
		</div>
	</form>
</section>