#{extends 'main.html' /} 
#{set title:'Signup' /} 
#{set activePage:'signup' /} 
#{include 'nav.html' /}

<!-- form to register as a new user  -->
<section class="ui form segment">
	<form class="ui form" action="/register" method="POST">

		<label> <input type="checkbox" name="usaCitizen"> Tick
			to confirm you are a citizen of the USA
		</label>
		<h4 class="ui dividing header">Sign up</h4>
		<div class="field">
			<label>Name</label>
			<div class="three fields">
				<div class="field">
					<input type="text" name="firstName" placeholder="First Name">
				</div>
				<div class="field">
					<input type="text" name="lastName" placeholder="Last Name">
				</div>
				<div class="field">
					<input type="text" name="age" placeholder="Age">
				</div>
			</div>
		</div>

		<div class="field">
			<label>Address</label>
			<div class=" two fields">
				<div class=" field">
					<input type="text" name="address1" placeholder=" Address 1">
				</div>
				<div class=" field">
					<input type="text" name="address2" placeholder="Address 2">
				</div>
			</div>
			<div class=" three fields">
				<div class=" field">
					<input type="text" name="city" placeholder="city">
				</div>
				<div class=" field">
					<input type="text" name="state" placeholder="state">
				</div>
				<div class="field">
					<input type="text" name="zipCode" placeholder="zip code">
				</div>
			</div>
		</div>
		<div class="field">
			<label>Log in details</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="email" placeholder="email">
				</div>
				<div class="field">
					<input type="text" name="password" placeholder="password">
				</div>
			</div>
			<!-- for story6 List of candidates for selection  
			<div class="column">
				<div class="ui selection dropdown">
					<input name="candidate" type="hidden">
					<div class="default text">Select Candidate</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						#{list items:candidates, as :'candidate'}
						<div class="item" data-value="${candidate.id}">${candidate.firstName}
							${candidate.lastName}</div>
						#{/list}
					</div>
				</div>
			</div> -->

			<div class="ui blue submit button">
				Submit <i class="add icon"></i>
			</div>


			<div class="ui error message"></div>
		</div>
	</form>
</section>
<script src="@{'/public/javascripts/signup.js'}"></script>